spring:
  application:
    name: resto-hub-client-api
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/restohub}
    username: ${DB_USER:restohub}
    password: ${DB_PASSWORD:restohub}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  liquibase:
    enabled: false

server:
  port: ${SERVER_PORT:8081}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    root: INFO
    com.restohub: DEBUG
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

cors:
  allowed-origin: ${CLIENT_WEB_URL:http://localhost:3000}

resilience4j:
  circuitbreaker:
    instances:
      database:
        failureRateThreshold: 50
        waitDurationInOpenState: 30s
        slidingWindowSize: 10
        minimumNumberOfCalls: 5

